{{extend 'layout.html'}}

<p>Type something and press the button.
   The last 10 entries will appear sorted in a table below.</p>

<form>
<INPUT type="text" id="kiek" name = "kiek" value=""/>
    <INPUT type="button" value="1"
       onclick="ajax('{{=URL('speliones?kiek=1')}}',[],'target');"/>
    <INPUT type="button" value="2"
       onclick="ajax('{{=URL('speliones?kiek=2')}}',[],'target');"/>
    <INPUT type="button" value="3"
       onclick="ajax('{{=URL('speliones?kiek=3')}}',[],'target');"/>
    <INPUT type="button" value="4"
       onclick="ajax('{{=URL('speliones?kiek=4')}}',[],'target');"/>
    <INPUT type="button" value="5"
       onclick="ajax('{{=URL('speliones?kiek=5')}}',[],'target');"/>
    <INPUT type="button" value="6"
       onclick="ajax('{{=URL('speliones?kiek=6')}}',[],'target');"/>
    <INPUT type="button" value="7"
       onclick="ajax('{{=URL('speliones?kiek=7')}}',[],'target');"/>
    <INPUT type="button" value="8"
       onclick="ajax('{{=URL('speliones?kiek=8')}}',[],'target');"/>
    <INPUT type="button" value="9"
       onclick="ajax('{{=URL('speliones?kiek=9')}}',[],'target');"/>
    <INPUT type="button" value="10"
       onclick="ajax('{{=URL('speliones?kiek=10')}}',[],'target');"/>
<INPUT type="button" value="submit"
       onclick="ajax('{{=URL('speliones')}}',['kiek'],'target');"/>
</form>
<br/>
<div id="target"></div>